*,
*::before,
*::after {
  box-sizing: border-box;
  overscroll-behavior: none;
}

:root,
html,
body,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 80%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
